<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row">
    <div class="chat-block" style="margin: 10px 0" fxLayout="row" fxLayoutAlign="center">
      <md-list fxFlex="30" dense>
        <md-list-item *ngFor="let user of listUser">
          <button md-raised-button style="width: 100%" (click)="getMessageByUserId(user)"> {{user.firstName + ' ' + user.lastName}} </button>
        </md-list-item>
      </md-list>

      <md-card fxFlex="50">
        <md-card-header *ngIf="currentUser">
          <div md-card-avatar class="header-image"> <img src="https://scontent.fsgn4-1.fna.fbcdn.net/v/t1.0-1/p40x40/11133810_580360328733108_1655132751212319089_n.jpg?oh=6c7919eac401618644afeeeaa635bc14&oe=5A3DD2DA"></div>
          <md-card-title>{{currentUser.email}}</md-card-title>
          <md-card-subtitle>{{currentUser.firstName + ' ' + currentUser.lastName}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <div #wrapper class="wrapper" style="overflow-y: scroll" [style.height.px]="height">
            <div class="content">
              <div class="list-message">
                <p *ngFor="let message of listMessage ">
                  {{message.content}}
                </p>
              </div>
            </div>
          </div>
        </md-card-content>
        <md-card-actions fxLayout="row" style="margin-bottom: 10px">
          <form fxFlex="95" #chatForm="ngForm" (ngSubmit)="createMessage(chatForm.valid)" novalidate>
            <md-form-field fxFlex="95" style="height: 40px">
              <input mdInput type="text" placeholder="Message" [(ngModel)]="message" name="message" required/>
            </md-form-field>
            <button md-button md-raised-button color="accent" type="submit" [disabled]="!chatForm.form.valid">Send</button>
          </form>
          <button md-button color="warn">
            <md-icon>image</md-icon>
          </button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
<app-footer></app-footer>
