<div class="chat-block" style="margin: 10px 0;">
  <div class="chat-block-input" [style.bottom.px]="0">
    <md-card [style.width.px]="maxWidth" [style.height.px]="positionTop - 50" fxLayout="column" style="padding: 10px; position: fixed; right: 300px; z-index: 100; bottom: 0"
      #chatBlock *ngFor="let blockChat of listBlockChat;  let i = index" [style.right.px]="300*(i+1)">
      <md-card-header *ngIf="currentUser" fxFlex="10">
        <div md-card-avatar class="header-image">
          <img src="https://scontent.fsgn4-1.fna.fbcdn.net/v/t1.0-1/p40x40/11133810_580360328733108_1655132751212319089_n.jpg?oh=6c7919eac401618644afeeeaa635bc14&oe=5A3DD2DA">
        </div>
        <md-card-title>{{currentUser.email}}</md-card-title>
        <md-card-subtitle>{{currentUser.firstName + ' ' + currentUser.lastName}}</md-card-subtitle>
        <md-icon style="position: absolute; right: 5px; top: 10px; color: red; cursor: pointer" (click)="closeChat(i)">close</md-icon>
      </md-card-header>
      <md-card-content fxFlex="80">
        <div #wrapper class="wrapper" style="overflow-y: scroll; min-height: 290px; padding: 5px; margin-top: 10px" [style.height.px]="(positionTop - 50) * 0.7"
          [scrollTop]="wrapper.scrollHeight">
          <div class="content">
            <div class="list-message">
              <div class="message-content" *ngFor="let message of listMessage">
                <p style="margin: 5px;">
                  {{message.content}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </md-card-content>
      <div class="action-message" fxLayout="row" style="margin-bottom: 10px" fxFlex="10">
        <form fxFlex="95" #chatForm="ngForm" (ngSubmit)="createMessage(chatForm.valid)" novalidate>
          <md-form-field fxFlex="95" style="height: 40px">
            <input mdInput type="text" placeholder="Message" [(ngModel)]="message" name="message" required/>
          </md-form-field>
          <button md-icon-button color="accent" type="submit" [disabled]="!chatForm.form.valid">
            <md-icon>send</md-icon>
          </button>
        </form>
        <button md-icon-button color="warn">
          <md-icon>image</md-icon>
        </button>
      </div>
    </md-card>
  </div>
  <md-list style="overflow-y: scroll; height: 500px; position: fixed; z-index: 2; top: 70px;">
    <div class="collection" style="margin: 5px 10px;" *ngFor="let user of listFriends">
      <div class="user" fxLayout="row">
        <img class="avatar" [src]="user.avatar" style="max-height: 40px; max-width: 40px">
        <button md-raised-button style="width: 100%" (click)="getMessageByUserId(user)"> {{user.firstName + ' ' + user.lastName}} </button>
      </div>
    </div>
  </md-list>
</div>
